/* General Styles */
.simple-gallery {
  display: grid;
  grid-gap: 1em;
  margin: 2rem 0;
}

/* Grid Layout for Gallery */
.simple-gallery.gallery {
  grid-template-columns: repeat(auto-fill, minmax(15vw, 1fr));
  justify-content: center;
}

.simple-gallery .tile {
  position: relative;
  overflow: hidden;
  background: #000;
  aspect-ratio: 16 / 10;
  border-radius: 1rem;
}

.simple-gallery .tile-link {
  display: block;
  width: 100%;
  height: 100%;
}

.simple-gallery .tile-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

/* Slideshow Mode */
.simple-gallery.slideshow {
  position: relative;
  max-width: 100%;
}

.simple-gallery.slideshow .slide {
  display: none;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 80vh;
  position: relative;
}

.simple-gallery.slideshow .slide.active {
  display: block;
}

.simple-gallery .caption {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.simple-gallery .nav-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.simple-gallery .nav-buttons .prev, .next {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  font-size: 2rem;
}

.simple-gallery .lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.simple-gallery .lightbox img {
  max-width: 80vw;
  max-height: 80vh;
}

.simple-gallery .lightbox.active {
  display: flex;
}

/* Responsive Design */
@media (max-width: 768px) {
  .simple-gallery.gallery {
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
  }
}

@media (max-width: 480px) {
  .simple-gallery.gallery {
    grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
  }
}
