{{- $src := .Get "src" -}}
{{- $mode := .Get "mode" | default "gallery" -}}
{{- $lightbox := .Get "lightbox" | default "true" -}}
{{- $caption := .Get "caption" | default "map[]" -}}
{{- $slideshowrotate := .Get "slideshowrotate" | default "true" -}}

{{- $images := slice -}}
{{- if strings.Contains $src "," -}}
  {{- $imagePaths := split $src "," -}}
  {{- range $imagePaths }}
    {{- $images = $images | append (trim .) -}}
  {{- end }}
{{- else if strings.HasSuffix $src "/" -}}
  {{- $images = readDir $src -}}
{{- else -}}
  {{- $images = slice $src -}}
{{- end }}

{{ if eq $mode "slideshow" }}
  <div class="simple-gallery slideshow">
    {{- $images := (sort $images) }}
    {{- range $index, $image := $images }}
      <div class="slide" style="background-image: url({{ . }})">
        <div class="caption">{{ index (fromJson $caption) . }}</div>
      </div>
    {{- end }}
  </div>
{{ else }}
  <div class="simple-gallery gallery">
    {{- range $index, $image := $images }}
      <div class="tile">
        <a href="{{ . }}" class="tile-link">
          <img src="{{ . }}" alt="image" class="tile-image" />
        </a>
      </div>
    {{- end }}
  </div>
{{ end }}
